body{
    background-color: #f9f9f9;
    padding: 20px;
}

.load-container, .profile-container{
    background-color: white;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
}


.load-form label, .profile-container label{
    font-size: 12px;
}

.pdl-selector{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 ;
    text-align: center;
}

