/* PILLS */

.type-cell {
    padding: 5px;
    border-radius: 25px;
    width: fit-content;
    padding: 5px 15px;
    font-weight: bold;
    margin: 0 3px;
    cursor: default;
    /* Add other common styles for the "Type" cell */
  }
  
  /* Additional styles for different types */
  .type-cell.Regular {
    background-color: #449600;
    color: white;
    padding: 8px;
  }
  
  .type-cell.LGBT {
    background-color: #ffdf00;
    color: black;
    padding: 8px;
  }
  .type-cell.Senior {
    background-color: #10069f;
    color: white;
    padding: 8px;
  }
  
  .type-cell.PWD {
    background-color: #e4002b;
    color: white;
    padding: 8px;
  }
  
  .type-cell.Overstocked {
    background-color: #00ffdd;
    color: white;
    padding: 8px;
  }
  .type-cell.Healthy {
    background-color: #00ff15;
    color: white;
    padding: 8px;
  }
  .type-cell.NearCritical {
    background-color: #fffb00;
    color: black;
    padding: 8px;
  }
  .type-cell.AtCritical {
    background-color: #ff7b00;
    color: white;
    padding: 8px;
  }
  .type-cell.BelowCritical {
    background-color: #ff0000;
    color: white;
    padding: 8px;
  }
  .type-cell.NoStock{
    background-color: #000000;
    color: white;
    padding: 8px;
  }
  